@import "tailwindcss";


/******************GLOBAL VARIABLES***********************/

:root {
  --primary: #2DA9F4;
  --primary-dark: #2b98da;
  --secondary: #FF6B6B;
  --secondary-dark: #d45a5a;
  --tertairy: #20B2AA;
  --black: #000000;
  --white: #ffffff;
  --light-gray: #F4F4F4;
  --dark-gray: #46454B;
  --section-gray: #F8FAFC;
  --loader: #ddd;
  --loader-text: #777;
  --border: #DDDDDD;
  --text: #2D2D2D;
  --yellow: #FFC107;
  --trans: rgba(0, 0, 0, 0);
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-secondary: var(--secondary);
  --color-secondary-dark: var(--secondary-dark);
  --color-tertairy: var(--tertairy);
  --color-black: var(--black);
  --color-white: var(--white);
  --color-gray: var(--light-gray);
  --color-dark-gray: var(--dark-gray);
  --color-section-gray: var(--section-gray);
  --color-loader: var(--loader);
  --color-loader-text: var(--loader-text);
  --color-border: var(--border);
  --color-trans: var(--trans);
  --color-text: var(--text);
  --color-thm-yellow: var(--yellow);
  --font-gilroy: var(--font-gilroy);
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/******************GLOBAL VARIABLES***********************/


/******************GLOBAL COMPONENTS***********************/

@layer components {
  .btn {
    @apply inline-block border-1 border-border text-center font-bold rounded-[10px] leading-5 px-6 py-3 transition-all duration-200 ease-in-out;
  }
  .btn.btn-primary {
    @apply bg-primary text-white border-primary;
  }

  .btn:disabled,
.btn.disabled {
  @apply bg-gray-300 text-gray-500 border-gray-300 cursor-not-allowed opacity-70;
}

  .btn.btn-primary:hover {
    @apply bg-primary-dark text-white border-primary-dark;
  }
  .btn.btn-secondary {
    @apply bg-secondary text-white border-secondary;
  }
  .btn.btn-secondary:hover {
    @apply bg-secondary-dark text-white border-secondary-dark;
  }
  .btn.btn-black {
    @apply bg-black text-white border-black;
  }
  .btn.btn-tertairy {
    @apply bg-tertairy text-white border-tertairy;
  }
  .btn.btn-secondary-outline {
    @apply bg-trans text-secondary border-secondary;
  }
  .btn.btn-secondary-outline:hover {
    @apply bg-secondary text-white;
  }
  .btn.btn-none{
    @apply p-0 m-0 bg-trans text-[inherit] border-0 font-normal focus:outline-none;
  }

  .a-hover-underline{
    @apply [&_a]:relative [&_a]:pb-0.5 [&_a]:after:content-[''] [&_a]:after:absolute [&_a]:after:bottom-0  [&_a]:after:left-0  [&_a]:after:w-0  [&_a]:after:h-[1px] [&_a]:after:bg-white [&_a]:after:transition-all [&_a]:hover:after:w-full;
  }
  .container {
    @apply mx-auto px-5 max-w-[100%];
  }

  .sub-heading{
    @apply text-[20px] font-medium;
  }

  .font-bold{
    font-weight: 700 !important;
  }
  .rounded-thm{
    @apply rounded-[10px];
  }
  .a-hover-secondary{
    @apply [&_a]:text-inherit [&_a]:transition-colors [&_a]:hover:text-secondary
  }

  .filter-checkbox{
    @apply appearance-none rounded-[4px] border border-border flex-none w-[16px] h-[16px] me-2.5 mt-[1px] bg-center bg-no-repeat bg-[length:70%] cursor-pointer checked:bg-secondary checked:border-secondary checked:bg-[url('/images/checked.svg')];
  }

  .rating-outer{
    @apply inline-block flex-none w-[75px] h-[15px] bg-[url('/images/rate-outer.svg')] bg-repeat bg-[length:15px];
  }
  .rating-inner{
    @apply inline-block flex-none w-full h-full bg-[url('/images/rate-inner.svg')] bg-repeat bg-[length:15px] align-top;
  }
  
  body .container {
    @media(min-width: 992px) {
      max-width: 90% !important;
        width: 90% !important;
    }
    @media(min-width: 1300px) {
      max-width: 1200px !important;
    }
  }

}

@layer base {

  body{
    @apply m-0 p-0 font-gilroy leading-[1.6] text-base font-medium;
  }
  p{
    margin-bottom: 1rem;
  }
  
  .h1{
      font-size: 2.8rem;
      line-height: 1.2;
      font-weight: 700;
  }

  .h2{
      font-size: 2.4rem;
      line-height: 1.2;
      font-weight: 700;
  }

  .h3{
      font-size: 1.9rem;
      line-height: 1.2;
      font-weight: 700;
  }

  .h4{
      font-size: 1.25rem;
      line-height: 1.2;
      font-weight: 700;
  }

  .h5{
      font-size: 1.13rem;
      line-height: 1.2;
      font-weight: 600;
  }
  button{
    cursor: pointer;
  }

  ::placeholder{
    color: rgb(45, 45, 45, 0.5);
  }

  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }

  ul{
    @apply ps-5 mb-4 list-disc;
  }

  ol{
    @apply ps-5 mb-4 list-decimal;
  }
}
body{
  color: var(--text);
}
.active-icon-rotate:not([data-headlessui-state*="active"]) .icon{
  transform: rotateX(180deg);
}
.swiper:not(.swiper-initialized) {
    display: none;
}
.swiper-offet-wrap .swiper:not(.swiper-initialized) ~ .swiper-button-prev, .swiper-offet-wrap .swiper:not(.swiper-initialized) ~ .swiper-button-next {
    display: none;
}
.break-word{
    word-break: break-word;
}
.menu-bar-wpr .menu-bar {
    box-shadow: none;
    cursor: pointer;
    background: none;
    border: none;
    width: 28px;
    height: 18px;
    padding: 0;
    position: relative;
}

.menu-bar-wpr .menu-bar .bars {
    display: block;
    height: 3px;
    width: 100%;
    background: var(--black);
    border-radius: 10px;
    position: absolute;
    transition: 0.25s ease-in-out;
    transform: rotate(0deg);
}
.menu-bar-wpr .menu-bar.menu-bar-primary .bars {
    background-color: var(--primary);
}
.menu-bar-wpr .menu-bar .bar1 {
    top: 0px;
}

.menu-bar-wpr .menu-bar .bar2 {
    top: 8px;
    left: 0px;
    transition: 0.15s ease-in-out;
}

.menu-bar-wpr .menu-bar .bar3 {
    top: 16px;
}

.menu-bar-wpr .menu-bar.active .bar1 {
    top: 7px;
    transform: rotate(135deg);
}

.menu-bar-wpr .menu-bar.active .bar2 {
    left: -5px;
    opacity: 0;
}

.menu-bar-wpr .menu-bar.active .bar3 {
    top: 7px;
    transform: rotate(-135deg);
}

.menu-bar-wpr {
    line-height: 0;
}

.mobile-menu {
    --top-spacing: 0px;
    --top-bar: 0px;
    position: absolute;
    top: calc(100% + var(--top-spacing, 20px));
    left: 0px;
    right: 0px;
    z-index: 9;
    bottom: calc(calc(-100vh + var(--top-bar))  + calc(100% + calc(var(--top-spacing, 20px) * 2)));
    background-color: #fff;
    overflow: auto;
    line-height: normal;
    /* box-shadow: 0px 4px 80px 0px #011E3E40; */
}
.mobile-menu ul li {
    margin-bottom: 20px;
}

.mobile-menu ul li a {
    padding: 4px 0;
}

.mobile-menu ul.sub-menu {
    padding: 20px 10px 0;
}
.mobile-menu ul li.menu-item-has-children > a .icon {
    transition: transform 0.3s ease-in-out;
}
.mobile-menu ul li.menu-item-has-children > a.active .icon {
    transform: rotatex(-180deg);
}

.swiper .swiper-pagination {
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    --swiper-pagination-color: var(--primary);
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-inactive-color: var(--border);
    --swiper-pagination-bullet-horizontal-gap: 3px;
    --swiper-pagination-bullet-border-radius: 20px;
    margin-top: 20px;
}

.swiper .swiper-pagination .swiper-pagination-bullet-active {
    width: 20px;
}

.swiper .swiper-pagination .swiper-pagination-bullet {
    transition: all 0.15s ease-in-out;
}

body .swiper-button-prev, body .swiper-button-next {
  --swiper-navigation-color: var(--text);
  --swiper-navigation-size: 30px;
  --swiper-navigation-sides-offset: 0;
  padding: 4px;
}
.swiper-offet-wrap{
  position: relative;
}
.swiper-offet-wrap .swiper-button-next, .swiper-offet-wrap .swiper-button-prev {
    --swiper-navigation-sides-offset: -32px;
}
.swiper.pagination-secondary .swiper-pagination .swiper-pagination-bullet-active {
    width: var(--swiper-pagination-bullet-size);
}

.swiper.pagination-secondary .swiper-pagination {
    --swiper-pagination-bullet-size: 10px;
    --swiper-pagination-color: var(--secondary);
}

#full-stars-rating {

  /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
  .rating-group {
    display: inline-flex;
  }
  
  /* make hover effect work properly in IE */
  .rating__icon {
    pointer-events: none;
  }
  
  /* hide radio inputs */
  .rating__input {
   position: absolute !important;
   left: -9999px !important;
  }

  /* set icon padding and size */
  .rating__label {
    cursor: pointer;
    padding: 0 1px;
    font-size: 2rem;
  }
  
  /* set default star color */
  svg {
    color: orange;
  }

  /* if any input is checked, make its following siblings grey */
  .rating__input:checked ~ .rating__label svg {
    color: #ddd;
  }

  /* make all stars orange on rating group hover */
  .rating-group:hover .rating__label svg {
    color: orange;
  }

  /* make hovered input's following siblings grey on hover */
  .rating__input:hover ~ .rating__label svg {
    color: #ddd;
  }
}
.filters-outer .sm-bottom_head_bar, .sorting_box .sm-bottom_head_bar, .mobile_filter_bar {
    top: auto;
    height: 58px;
    background: #fff;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    transition: transform 0.3s ease;
}
.sorting_box {
    position: fixed;
    background: #fff;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    overflow: auto;
    z-index: -1;
    padding: 20px 20px 60px;
    opacity: 0;
    visibility: hidden;
    display: none;
}
.filters-outer .sm-bottom_head_bar button, .sorting_box .sm-bottom_head_bar button, .mobile_filter_bar > button {
    flex-basis: 50%;
    max-width: 50%;
    padding: 0;
    margin: 0;
    background: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    color: var(--secondary-color);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}
.filters-outer .sm-bottom_head_bar hr, .sorting_box .sm-bottom_head_bar hr, .mobile_filter_bar > hr {
    background-color: #ddd;
    border-color: #ddd;
    border-width: 0;
    width: 2px;
    opacity: 1;
    margin: 6px 0;
    height: auto !important;
}
.sorting_box input[type="radio"], .sorting_box input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px;
}
.sorting_box .box ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
 .sorting_box label {
    font-weight: 400;
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding-left: 8px;
  }
  
  .sorting_box .box li {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
  }
  .mobile_filter_bar.hide-footer {
    transform: translateY(100%);
}
/******************GLOBAL COMPONENTS***********************/



@media(min-width:768px){
}
@media(min-width:992px){
}

@media(max-width: 991px){
    
    .h1{
        font-size: 2.5rem;
    }

    .h2{
        font-size: 2.2rem;
    }

    .h3{
        font-size: 1.7rem;
    }

    .h4{
        font-size: 1.15rem;
    }

    .h5{
        font-size: 1rem;
    }
    body .container{
      max-width:100%;
    }
    .swiper-offet-wrap .swiper-button-next, .swiper-offet-wrap .swiper-button-prev {
      --swiper-navigation-sides-offset: -20px;
    }
}

@media(max-width: 767px){
    .h1{
        font-size: 2.2rem;
    }

    .h2{
        font-size: 2rem;
    }

    .h3{
        font-size: 1.5rem;
    }

    .mobile-menu ul li {
        margin-bottom: 14px;
    }
    .mobile-menu ul.sub-menu {
        padding: 14px 10px 0;
    }
    .swiper-offet-wrap .swiper-button-next, .swiper-offet-wrap .swiper-button-prev {
        --swiper-navigation-sides-offset: -15px;
        background-color: #fff;
        border-radius: 50%;
        --swiper-navigation-size: 35px;
        padding: 9px;
        box-shadow: 0px 0px 30px 0px #2D2D2D40;
        top: 35%;
    }
    .filters-outer {
      position: fixed;
      background: #fff;
      height: 100%;
      left: 0;
      right: 0;
      top: 0;
      overflow: auto;
      z-index: -1;
      padding: 20px 20px 60px;
      opacity: 0;
      visibility: hidden;
      display: none;
      border: none;
      border-radius: 0;
    }
    .filters-outer.active, .active.filter-sm-float.sorting_box {
      z-index: 999;
      display: block;
      opacity: 1;
      visibility: visible;
    }
}